# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [92]:
import pandas as pd
import locale
jeopardy = pd.read_csv("jeopardy.csv", dtype={'Value': str}) 
pd.set_option('display.max_colwidth', None)
jeopardy.columns = jeopardy.columns.str[1:]
jeopardy.head(5)

,how Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [189]:
def filter_column_containing(dataframe, column, words):
    words = set(word for word in words)
    return dataframe[dataframe[column].str.split(" ").map(words.issubset)]
  
filter_column_containing(jeopardy, 'Question', ['India'])

,how Number,Air Date,Round,Category,Value,Question,Answer
732,5851,2010-02-08,Jeopardy!,THE KILLERS,600.0,Bodyguards Satwant & Beant Singh killed this female leader of India in 1984,Indira Gandhi
1426,3362,1999-03-30,Final Jeopardy!,WORLD GEOGRAPHY,0.0,One story says this point was so named becuase it was a positive sign of a sea route from Europe to India,Cape of Good Hope
2083,1800,1992-05-29,Double Jeopardy!,SCIENCE,1000.0,"This resin, a natural polymer used as a varnish, is produced by insects in India and Myanmar",shellac
2334,4595,2004-07-23,Jeopardy!,NOW YOU'RE TALKING MY LANGUAGE,400.0,"""Namaste"" is a greeting in this official language of India used by over a quarter of a billion speakers",Hindi
2342,4595,2004-07-23,Jeopardy!,THE BIG BANGLADESH,800.0,"After India was partitioned in 1947, what would later become Bangladesh was the ""East"" part of this country",Pakistan
...,...,...,...,...,...,...,...
212473,3369,1999-04-08,Double Jeopardy!,THE 1930s,200.0,A 6-day fast by this man in 1932 changed the way the untouchables in India were treated,Mohandas Gandhi
213269,2879,1997-02-20,Double Jeopardy!,SHIPS,600.0,In November 1609 the British seized this Henry Hudson ship but later returned it to the Dutch East India Co.,The Half Moon
214458,2964,1997-06-19,Double Jeopardy!,PEOPLE IN HISTORY,400.0,This first prime minister of independent India was educated in England at Harrow & Cambridge,Jawaharlal Nehru
215109,6036,2010-12-06,Jeopardy!,"WHAT THE ""H""",1000.0,Namaste is a greeting in this official language of India,Hindi
216804,5070,2006-09-29,Double Jeopardy!,"""U""-ENDING CREATURES",2000.0,"This category could run from the akiapolaau, a Hawaiian bird, to this member of the cattle familhy in India",a zebu

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [142]:
filter_column_containing(jeopardy, 'Question', ['Viking', 'king'])

,how Number,Air Date,Round,Category,Value,Question,Answer
6337,3517,1999-12-14,Double Jeopardy!,Y1K,800.0,"In retaliation for Viking raids, this ""Unready"" king of England attacks Norse areas of the Isle of Man",Ethelred
12951,5181,2007-03-05,Double Jeopardy!,STATUE-ESQUE,1600.0,"A statue in Hampshire of this ""Great"" king honors his 9th c. rule when he defended against a Viking invasion",Alfred (the Great)
167872,4316,2003-05-12,Double Jeopardy!,FEELING A LITTLE NORSE,2000.0,Some say the Viking Age ended in 1066 when this king defeated the Norwegians at Stamford Bridge,Harold II

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [144]:
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')
jeopardy['Value'] = jeopardy['Value'].apply(lambda x: 0 if x == "None" else  locale.atof(str(x).strip('$')))

dataframe = filter_column_containing(jeopardy, 'Question', ['King'])
dataframe['Value'].mean()

771.2384851586489

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [147]:
dataframe = filter_column_containing(jeopardy, 'Question', ['King'])
dataframe['Answer'].nunique()

712

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [163]:
all_questions = filter_column_containing(jeopardy, 'Question', ['Literature']).copy()

all_questions['Air Date']= pd.to_datetime(all_questions['Air Date'])
all_questions.dtypes
_2000s = all_questions[(all_questions['Air Date'] >= '2000-01-01') & (all_questions['Air Date'] < '2010-01-01')]
_1990s = all_questions[(all_questions['Air Date'] >= '1990-01-01') & (all_questions['Air Date'] < '2000-01-01')]
print (_2000s.shape," vs ",  _1990s.shape)

(16, 7)  vs  (16, 7)

In [185]:
##
r_question = jeopardy.sample(n=1)
print(r_question['Question'])
answer = input()
if answer == r_question['Answer'].item() :
    print ("Bravo!")
else: 
    print ("Oh no, the right answer was " + r_question['Answer'])

155746    A 2009 biography of this builder of Grand Central Terminal calls him "the first tycoon"
Name: Question, dtype: object
155746    Bebra, the right answer was (Cornelius) Vanderbilt
Name: Answer, dtype: object

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.